<div class="form-group col-lg-10 col-md-10 col-xs-7">
	<div class="row">
		<div class="form-group col-lg-8 col-md-8 col-xs-8">
			<h4>{{ section }}</h4>
		</div>
		<div class="form-group col-lg-4 col-md-4 col-xs-4">
			<input type="text" class="form-control" placeholder="Поиск..." (input)="do_search()" [(ngModel)]="searchFilter">
		</div>
	</div>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<th scope="col" class="w-25">Имя</th>
				<th scope="col" class="w-55">Ссылка</th>
				<th scope="col" class="w-10">Превью</th>
				<th scope="col" class="w-10">Действия</th>
			</thead>
			<tbody id="tablebody">
				<tr *ngFor="let emoji of curpage">
					<td>{{ emoji.id }}</td>
					<td><input type="text" class="form-control" value="{{ emoji.url }}" ng-click="$event.target.select()" ></td>
					<td><img class="preview {{ emoji.css.data }}" src="{{ emoji.url }}"
							(mousemove)="img_move($event)"
							(mouseleave)="img_out()"
							(mouseover)="img_over($event)" ></td>
					<td class="center">
						<img class="pointer {{ check_visible('fav') }}" ng-click="make_favorive(emoji)" src="/assets/img/star.png">
						<img class="pointer {{ check_visible('del') }}" ng-click="del_emoji(emoji)" src="/assets/img/del.png">
						<img class="pointer {{ check_visible('restore') }}" ng-click="restore_emoji(emoji)" src="/assets/img/restore.png">
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="center">
		<div class="inline-block">
			<ul ng-if="pages.length>1" class="pagination">
				<li class="page-item" ng-class="{disabled:curpagen == 0}">
					<a class="page-link" ng-click="set_page(0)">Первая</a>
				</li>
				<li class="page-item" ng-class="{disabled:curpagen == 0}">
					<a class="page-link" ng-click="set_page(curpagen - 1)">Пред.</a>
				</li>
				<li class="page-item" *ngFor="let id of pagesn" ng-class="{active:curpagen == id}">
					<a class="page-link" ng-click="set_page(id)">{{id+1}}</a>
				</li>                
				<li class="page-item" ng-class="{disabled:curpagen == (pagecount-1)}">
					<a class="page-link" ng-click="set_page(curpagen + 1)">След.</a>
				</li>
				<li class="page-item" ng-class="{disabled:curpagen == (pagecount-1)}">
					<a class="page-link" ng-click="set_page(pagecount-1)">Последняя</a>
				</li>
			</ul>
		</div>
		
	</div>
	
	<div id='popapimg' class="fixed {{ img_div_class }}" style="{{img_div_style}}">
		<img src="{{ fullimg }}" >
	</div>
	
</div>